name: 中青浏览赚（四个账号）

on:
  workflow_dispatch:
  schedule:
     - cron: '0 0 * * *'
  watch:
    types: youth_gain
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
      YOUTH_START: ${{ secrets.YOUTH_START }}
      YOUTH_END: ${{ secrets.YOUTH_END }}
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
          
      - name: '运行 【中青浏览赚】'
        if: env.YOUTH_START
        run: |
          node Task/youth_gain.js
